body {
	padding-top: 70px;
}
.navbar-fixed-top .navbar-brand {
	padding: 0;
}

.navbar-fixed-top .navbar-brand img {
	margin: 0;
	padding: 0;
	text-decoration: none;
	border: none;
	max-height: 100%;
	width: auto;
}

img {
	max-width: 100%;
}